.dashboardItem {
    background-color: brown;
    min-width: 200px;
    max-height: 250px;
    margin-bottom: 20px;
    
}

.dashboardItemCardBody {
    background-color:  #4d7c3a;
    color: white;
}

.dashboardItem p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.dashboardItemButtons {
    
}